@tailwind base;
@tailwind components;
@tailwind utilities;

select {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
  background-position: right .5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact
}

select {
  -webkit-appearance: none;
}
/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: #ebebeb;
}

::-webkit-scrollbar-thumb {
    background: #6d6d6d; 
}

.gradient-bg {
    background: linear-gradient(270deg, #903AFF 0%, #FE34B9 100%);
}

.gradient-text {
  background-image: linear-gradient(270deg, #903AFF 0%, #FE34B9 100%);
  -webkit-background-clip: text; /* For Safari/WebKit browsers */
  background-clip: text;
  color: transparent; /* Hide the actual text color */
}

.gradient-border {
  border-width: 1px; /* Set the border width */
  border-style: solid; /* Set the border style to solid */
  border-image: linear-gradient(270deg, #903AFF 0%, #FE34B9 100%); /* Define the gradient as the border image */
  border-image-slice: 1; /* Set the slice value to cover the entire border */
  width: fit-content; /* Make the element's width fit its content */
}

.opaque {
  background: rgba(21, 14, 40, 0.93);
}

.nav_mobile {
  border-radius: 8px;
border: 0.5px solid rgba(255, 255, 255, 0.04);
background: #150E28;
backdrop-filter: blur(30px)
}

.bg-purple {
  background: url('./assets/Purple-Lens-Flare-PNG.png'), no-repeat;
  background-blend-mode: hard-light;
}

.z-0 {
  z-index: -0;
}

.z-5 {
  z-index: 5;
}

.dashed {
  border-style: dashed;
}

@font-face {
    font-family: 'ClashDisplay-Variable';
    src: url('../fonts/ClashDisplay-Variable.woff2') format('woff2'),
         url('../fonts/ClashDisplay-Variable.woff') format('woff'),
         url('../fonts/ClashDisplay-Variable.ttf') format('truetype');
         font-weight: 200 700;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'ClashDisplay-Extralight';
    src: url('../fonts/ClashDisplay-Extralight.woff2') format('woff2'),
         url('../fonts/ClashDisplay-Extralight.woff') format('woff'),
         url('../fonts/ClashDisplay-Extralight.ttf') format('truetype');
         font-weight: 200;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'ClashDisplay-Light';
    src: url('../fonts/ClashDisplay-Light.woff2') format('woff2'),
         url('../fonts/ClashDisplay-Light.woff') format('woff'),
         url('../fonts/ClashDisplay-Light.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'ClashDisplay-Regular';
    src: url('../fonts/ClashDisplay-Regular.woff2') format('woff2'),
         url('../fonts/ClashDisplay-Regular.woff') format('woff'),
         url('../fonts/ClashDisplay-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'ClashDisplay-Medium';
    src: url('../fonts/ClashDisplay-Medium.woff2') format('woff2'),
         url('../fonts/ClashDisplay-Medium.woff') format('woff'),
         url('../fonts/ClashDisplay-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'ClashDisplay-Semibold';
    src: url('../fonts/ClashDisplay-Semibold.woff2') format('woff2'),
         url('../fonts/ClashDisplay-Semibold.woff') format('woff'),
         url('../fonts/ClashDisplay-Semibold.ttf') format('truetype');
         font-weight: 600;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'ClashDisplay-Bold';
    src: url('../fonts/ClashDisplay-Bold.woff2') format('woff2'),
         url('../fonts/ClashDisplay-Bold.woff') format('woff'),
         url('../fonts/ClashDisplay-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }

.clash {
    font-family: 'ClashDisplay-Bold', Courier, monospace;
}

.italics {
    font-style: italic;
}